<ul class="navbar_login">
            <li><a class="login">Login</a></li>
            <li><a class="signup">Signup</a></li>
            <li style="float: right;"><a><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i></a></li>
        </ul>

<style>
    .navbar_login {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.navbar_login li {
    float: left;
}

.navbar_login li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

.navbar_login li a:hover {
    background-color: #f2f2f2;
}
</style>