<title><%= title %></title>
<script src="https://use.fontawesome.com/d4a3453597.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/<%= style %>">
<script type="text/javascript" src="/javascripts/<%= logic %>"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:100" rel="stylesheet">